.custom-card-num{
    font-size: 75%;
    padding-left: 70%;
}

/* Extra small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {
    .custom-card {
        font-size: 35%;
        font-weight: bolder;
    }
    #startBtn{
        margin-top: 20%;
    }
    .reset-button {
            font-size: 35% !important;
        margin-bottom: 50% !important;
    }
}



/* Small devices (portrait tablets and large phones, 350px and up) */
@media only screen and (min-width: 350px) {
    .custom-card {
        font-size: 45%;
        font-weight: bolder;
    }
    #startBtn{
        margin-top: 20%;
    }
    .reset-button {
        font-size: 45% !important;
        margin-bottom: 50% !important;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .custom-card {
        font-size: 90%;
        font-weight: bolder;
    }
    #startBtn{
        margin-top: 20%;
    }
    .reset-button {
        font-size: 50% !important;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .custom-card {
        font-size: 100%;
        font-weight: bolder;
    }
    #startBtn{
        margin-top: 20%;
    }
    .reset-button {
        font-size: 100% !important;
    }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .custom-card {
        font-size: 100%;
        font-weight: bolder;
    }
    .reset-button {
        font-size: 100% !important;
    }
    #startBtn{
        margin-top: 20%;
    }
    #grid{
        margin-top: 5% !important;
    }
}

#mainDiv{
    height: 100vh;
    background: linear-gradient(90deg, rgba(98,173,230,1) 0%, rgba(71,117,115,1) 100%);
}


/* Start button CSS */
.button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}



/* Reset Button CSS */
.button-81 {
   background-color: black;
   border: 0 solid #e2e8f0;
   border-radius: 1.5rem;
   box-sizing: border-box;
   color: white;
   cursor: pointer;
   display: inline-block;
   font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1.1rem;
   font-weight: 600;
   line-height: 1;
   padding: 1rem 1.6rem;
   text-align: center;
   text-decoration: none #0d172a solid;
   text-decoration-thickness: auto;
   transition: all .1s cubic-bezier(.4, 0, .2, 1);
   box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-81:hover {
    background-color: #1e293b;
    color: #fffF;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}